@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h2>FashionBangla, the Pioneer Lifestyle Brand in Bangladesh.</h2>
        <hr />
        <p>
            In 1980, FashionBangla began their journey in the form of a small shop in Green Super Market that sold all most everything from candies to ornaments.

            The founders, Mr. Sayeed Siddiqui Rumi and Mrs. Ashrafun Siddiqui Dora, had kept a small part of that shop for shirts that they designed by themselves. They got a good response from the enthusiastic young men of Dhaka. Therefore, Mrs. Ashrafun Siddiqui decided that they would only sell designer clothes for men.

            In 1983, the couple rented a floor space in Mansur Bhaban, Elephant Road. That was the official inception of FashionBangla. Until 1993, there was a vacuum in the men’s fashion market for a clothing line for the executives. Thus, FashionBangla introduced a new line of products under the new brand name MONSOON RAIN as a sister concern of FashionBangla.

            In 1998, FashionBangla launched another brand of Men's Wear under the name FashionBangla Unlimited, to satisfy the stylish men’s casual wear segment. Recently FashionBangla introduced Ladies wear, shoes and silver jewelery.
        </p>
    </div>
</div>

<p>Use this area to provide additional information.</p>
