@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-12">
        <h2>FashionBangla, the Pioneer Lifestyle Brand in Bangladesh.</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h4>Official Address</h4>
        <address>
            FashionBangla<br />
            234/3, Banasree, Dkaka
        </address>
        <hr />
        <h4>Show Room</h4>
        <address>
            <strong>Molla Taoar</strong><br />
            Rampura, Dkaka
        </address>
        <hr />
        <address>
            <strong>ForTun ShopingMal</strong><br />
            Malibag, Dkaka
        </address>
        <hr />
        <address>
           <strong>ShopingMal</strong> <br />
            Panthpoth, Dkaka
        </address>
    </div>
    <div class="col-md-6">
        <h3>Email</h3>
       <span>fashionbangla@gmail.com</span>
        <h3>Customer Care</h3>
        <span>12300</span>
    </div>
</div>