
@{
    ViewBag.Title = "Event";
}
<div class="row">
    <div class="col-md-12">
        <h2>FashionBangla, the Pioneer Lifestyle Brand in Bangladesh.</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 style="opacity:.5;" class="text-center">No Event is Available Now!</h2>
    </div>
</div>

